<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.LibPublishMapper">
  <resultMap id="BaseResultMap" type="com.marsview.domain.LibPublish">
    <!--@mbg.generated-->
    <!--@Table lib_publish-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="release_id" jdbcType="VARCHAR" property="release_id" />
    <result column="lib_id" jdbcType="VARCHAR" property="lib_id" />
    <result column="react_url" jdbcType="VARCHAR" property="react_url" />
    <result column="css_url" jdbcType="VARCHAR" property="css_url" />
    <result column="config_url" jdbcType="VARCHAR" property="config_url" />
    <result column="release_hash" jdbcType="VARCHAR" property="release_hash" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, release_id, lib_id, react_url, css_url, config_url, release_hash, user_id, user_name, 
    `count`, updated_at, created_at
  </sql>
</mapper>