<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.PagesMapper">
  <resultMap id="BaseResultMap" type="com.marsview.domain.Pages">
    <!--@mbg.generated-->
    <!--@Table pages-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="page_data" jdbcType="LONGVARCHAR" property="page_data" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_public" jdbcType="INTEGER" property="is_public" />
    <result column="is_edit" jdbcType="INTEGER" property="is_edit" />
    <result column="preview_img" jdbcType="VARCHAR" property="preview_img" />
    <result column="stg_publish_id" jdbcType="BIGINT" property="stg_publish_id" />
    <result column="pre_publish_id" jdbcType="BIGINT" property="pre_publish_id" />
    <result column="prd_publish_id" jdbcType="BIGINT" property="prd_publish_id" />
    <result column="stg_state" jdbcType="INTEGER" property="stg_state" />
    <result column="pre_state" jdbcType="INTEGER" property="pre_state" />
    <result column="prd_state" jdbcType="INTEGER" property="prd_state" />
    <result column="project_id" jdbcType="INTEGER" property="project_id" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, user_id, user_name, page_data, remark, is_public, is_edit, preview_img, 
    stg_publish_id, pre_publish_id, prd_publish_id, stg_state, pre_state, prd_state, 
    project_id, updated_at, created_at
  </sql>
</mapper>