<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.ProjectsMapper">
  <resultMap id="BaseResultMap" type="com.marsview.domain.Projects">
    <!--@mbg.generated-->
    <!--@Table projects-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updated_at" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="logo" jdbcType="LONGVARCHAR" property="logo" />
    <result column="visit_type" jdbcType="INTEGER" property="visit_type" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="is_public" jdbcType="INTEGER" property="is_public" />
    <result column="breadcrumb" jdbcType="INTEGER" property="breadcrumb" />
    <result column="layout" jdbcType="INTEGER" property="layout" />
    <result column="menu_mode" jdbcType="VARCHAR" property="menu_mode" />
    <result column="menu_theme_color" jdbcType="VARCHAR" property="menu_theme_color" />
    <result column="tag" jdbcType="INTEGER" property="tag" />
    <result column="footer" jdbcType="INTEGER" property="footer" />
    <result column="system_theme_color" jdbcType="VARCHAR" property="system_theme_color" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, updated_at, created_at, remark, appid, logo, visit_type, user_name, user_id, 
    is_public, breadcrumb, layout, menu_mode, menu_theme_color, tag, footer, system_theme_color
  </sql>
</mapper>